{% extends 'base.html' %}
{% load static %}
{% block title %}Receitas para compartilhar{% endblock %}

{% block content %}

<main>
  <div class="titulo">
    <h1>As melhores receitas</h1>
    <h2>Receitas para todos os gostos, desde pratos simples a criações sofisticadas</h2>
  </div>

  {% if messages %}
  {% for message in messages %}
  <div class="alert {{ message.tags }}">
      {{ message|safe }}
  </div>
  {% endfor %}
  {{ messages.clear }}
  {% endif %}

  <section class="receitas">
    {% for receita in page_obj %}
    <div class="receita">

      {% if not receita.imagem %}
      <img alt="{{ receita.titulo }}" class="receita__imagem" src="{% static 'img/not-found.png' %}">
      {% else %}
      <img alt="{{ receita.titulo }}" class="receita__imagem" src="{{ receita.imagem.url }}" width="100">
      {% endif %}
      <div class="receita__conteudo">
        <h4 class="receita__titulo">{{ receita.titulo }}</h4>
        <p class="card__categoria">Categoria: {{ receita.categoria }}</p>

        <div class="descricao-container">
          <p class="receita__descricao">{{ receita.subtitulo }}</p>
        </div>

        <a href="{% url 'receitas:receita' receita.id %}">
          <button type="submit" class="btn-sec">
            <span class="label">Ver receita</span>
          </button>
        </a>
      </div>
    </div>
    {% endfor %}

    {% if page_obj|length == 0 %}
    <p>Nenhuma receita encontrada</p>
    {% endif %}
  </section>
</main>
{% endblock %}