{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <link rel="stylesheet" href="{% static './css/login.css' %}">

    <link rel="shortcut icon" href="{% static './img/pinguim.png' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap" rel="stylesheet">
    <title>Redefinir Senha</title>
</head>

<body class="body-login">
    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="{% static 'img/hamburguer.png' %}" alt="">
    </div>

    <section id="reset-password-email">

        <div class="header">
            <a href="{% url 'receitas:loginUser' %}" class="logo" rel="next" target="_self">
                <img src="{% static 'img/pinguim.png' %}" alt="logo">
            </a>
            <h1>Redefinir Senha</h1>
        </div>

        <div id="container">
            <p>Olá {{ user.username }},</p>
            <p>Você está recebendo este e-mail porque solicitou a redefinição de senha para sua conta no site "Receitas
                para compartilhar".</p>
            <p>Clique no link abaixo para redefinir sua senha:</p>
            <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Redefinir
                Senha</a>
            <p>Se você não solicitou a redefinição da senha, ignore este e-mail. Sua senha permanecerá inalterada.</p>
        </div>

    </section>

    <!-- ##### Javascript Files ##### -->
    <script src="{% static 'js/script.js' %}"></script>

    <!-- jQuery-3.6.0 js / Preloader -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Preloader js -->
    <script src="{% static 'js/preloader.js' %}"></script>

</body>

</html>