<!-- reset_password_done.html -->
{% block content %}
<h2>Redefinição de Senha Enviada</h2>
<p>Enviamos instruções sobre como redefinir sua senha para o seu endereço de e-mail. Por favor, verifique sua caixa de
    entrada.</p>
<p><a href="{% url 'receitas:loginUser' %}">Voltar para a página de login</a></p>
{% endblock %}



<!-- {% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <link rel="stylesheet" href="{% static './css/login.css' %}">
    <link rel="shortcut icon" href="{% static './img/pinguim.png' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap" rel="stylesheet">
    <title>Senha Redefinida com Sucesso</title>
</head>

<style>
    .container_password_reset {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 200px;
    }

    .msg_senha {
        margin: 30px;    
    }

    .container_h2 {
        margin: 20px;    
    }


</style>


<body class="body-login">
    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="{% static 'img/hamburguer.png' %}" alt="">
    </div>

    <section id="login">

        <div class="header">
            <a href="{% url 'receitas:loginUser' %}" class="logo" rel="next" target="_self">
                <img src="{% static 'img/pinguim.png' %}" alt="logo">
            </a>
            <h1>Receitas para <br> compartilhar</h1>

        </div>

        <div class="container_password_reset">
            <div class="msg_senha">
                <h2 class="container_h2">Senha Redefinida com Sucesso</h2>
                <p>Agora você pode fazer login com sua nova senha.</p>
            </div>

            <a href="{% url 'receitas:loginUser' %}">
                <button type="submit" class="btn-sec btn-receita-edicao">
                    <span class="label">Ir para a página de login</span>
                </button>
            </a>
        </div>

        <!-- jQuery-3.6.0 js / Preloader -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- Preloader js -->
        <script src="{% static 'js/preloader.js' %}"></script>

    </section>

</body>

</html> -->