{% load static %}

<header>
  <div class="menu1">

    <div class="logo">
      <li>
        <a href="{% url 'receitas:index' %}"><img src="{% static 'img/logo.png' %}" alt="logo" /></a>
      </li>
    </div>
    <div class="meio">
      <div class="search">
        <form action="{% url 'receitas:search' %}" method="GET" class="search-form" id="form">
          <input type="search" name="q" id="search" class="search-input" placeholder="Procurar uma receita" />
          <button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass lupa"></i></button>
        </form>
      </div>
    </div>

    <div class="lado-direito">
      {% if user.is_authenticated %}
      <li><a class="links_menu" href="{% url 'receitas:createReceita' %}">Cadastrar receita</a></li>
      <li><a class="links_menu" href="{% url 'receitas:index' %}">Olá, {{ user.username }}</a></li>

      {% csrf_token %}
      <li><a class="links_menu" href="{% url 'receitas:logoutUser' %}">Sair</a></li>
      {% else %}
      {% csrf_token %}
      <li><a class="links_menu" href="{% url 'receitas:loginUser' %}">Entrar</a></li>
      {% endif %}
    </div>

  </div>

  <hr />

  <div class="menu2">
    <ul id="menu-list">
      {% for item in menuItems %}
      <li>
        <a href="{% if item.query %}{% url 'receitas:search' %}?q={{ item.query }}{% else %}{% url 'receitas:index' %}{% endif %}"
          class="links_menu {% if not item.query and not current_query or current_query == item.query %}active{% endif %}">
          {{ item.text }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</header>