@import url('style.css');
@import url('upload.css');

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form.form-cadastro {
    width: 550px;
}

#titulo, #subtitulo, #ingredientes, #modo_preparo {
    width: 100%;
    border: var(--border-sec);
}

#categoria:focus,
#titulo:focus, 
#subtitulo:focus, 
#ingredientes:focus, 
#modo_preparo:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra ao foco */
}

#ingredientes, #modo_preparo {
    height: 177px;
    background-color: #FAF9F5;
    border-radius: 10px;
    color: #8D0606;
    padding: 15px;
    margin-top: 10px;
    font-size: 16px;
}

.form-input {
    height: 64px;
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    background-color: #FAF9F5;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.label-input {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #8D0606;
}

.label-titulo {
    margin-top: 20px;
}

form .btn-primary {
    display: block;
    margin: 0 auto;
}

textarea#ingredientes, textarea#modo_preparo {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.text-categoria {
    margin-top: 20px;
}

#categoria {
    width: 100%;
    height: 40px;
    border: 1px solid var(--color-qua);
    border-radius: 10px;
    padding: 0 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none;
    font-size: 16px;
    color: var(--color-pri);
    background-color: var(--color-qui);
}

/* MOBILE */
@media screen and (max-width: 992px) {
    form.form-cadastro {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    form.form-cadastro {
        width: 90%;
    }
}


