.my-message {
    color: #333;
    padding: 10px;
    margin: 10px 0;
}

.my-success-message {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #45A049;
    padding: 10px;
    margin: 10px 0;
}

.my-error-message {
    background-color: #f44336;
    color: white;
    border: 1px solid #d32f2f;
    padding: 10px;
    margin: 10px 0;
}